@font-face {
    font-family: Myfont;
    src: url('font/GE_SS_Two_Bold.otf')
}

@font-face {
    font-family: Myfont2;
    src: url('font/DroidKufi-Regular.ttf')
}

.navbar-default {
    background-color: #5bc0de;
    border-color: #e7e7e7;
  
}

.navbar-default .navbar-nav > li > a {
        color: #e7e7e7;
        font-family: Myfont;
    }

.navbar-default .navbar-nav > li > a :hover {
            color: #fff;
        }
.nav > li {
    position:relative;
    display:block;
    height:70px;
    padding-top:10px;
}
.myfooter {
    background-color: aquamarine;
    padding-top: 10px;
    font-family: Myfont;
    text-align:justify;
}
.subfooter {
    background-color: #5bc0de;
    color: white;
    padding: 10px;
    text-align: center;
}
.myfooter a{
    color: white;
}
.myfooter h3,ul,p{
   margin-bottom:5px;
   font-family:Myfont2;
  
}
